#first{
    background-color: blue;
    margin-bottom: 20%;
}

#second
{
    background-color: green;
    margin-left: 20%;
}

#third{
    background-color: pink;
    margin-right: 10%;
}

#fourth{
    background-color: gray;
    margin-top: 20%;
}